/* elements */
body {
  background-color: #E3EEFA !important;
}

/* ids */
#footer {

  position: absolute;
  background-color: #3E546A;
}

#not-found-page {

  position: relative;
  min-height: 70vh;
}

#not-found-page p {
  font-size: x-large;

  font-weight: bold;
  color: #3E546A;
}


#not-found-page p.cookies {
  font-size: x-large;
}

#not-found-page p.credit {

  font-size: larger;
}

#landing-page #left-landing {
  background-color: #95AFC9 !important;
  padding-top: 30px;
  padding-bottom: 100px;
  padding-left: 25px;
  font-size: large;
}

#landing-page #right-landing {
  background-color: #E3EEFA !important;
  padding-top: 25px;
  padding-bottom: 25px;
}

#navbar {
  background-color: #3E546A;
}

#dropdown {
  background-color: #728eaa !important;
  color: #e2edf9 !important;
}

#login-dropdown-signout {
  color: #e2edf9 !important;
}

/* classes */
.text {
  color: #e2edf9 !important;
}

.ui.inverted.menu {
  background-color: #3E546A !important;
}

