.ui.inverted.menu {
  background-color: #3E546A !important;
}

body {
  background-color: #3E546A !important;
}

#landing-page #left-landing {
  background-color: #95AFC9 !important;
  padding-top: 30px;
  padding-bottom: 100px;
  padding-left: 25px;
  font-size: large;
}

#landing-page #right-landing {
  background-color: #E3EEFA !important;
  padding-top: 25px;
  padding-bottom: 25px;
}

#navbar {
  background-color: #3E546A;
}

.text {
  color: #e2edf9 !important;
}

#dropdown {
  background-color: #3E546A !important;
  color: #e2edf9 !important;
}
